html, body {
  font-family: Arial, Helvetica, sans-serif;
}
/*CPR heading*/
  .blinking {
    animation: blinkingText 1.6s;
    animation-iteration-count: 10;
  }
      
  @keyframes blinkingText{
      0%{     color: white; }
      49%{    color: white; }
      60%{    color: transparent; }
      99%{    color:transparent;  }
      100%{   color: white;    }
  }
  .header {
    margin-left: 200px;
    margin-top:auto;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 70px;
  }

  /*Top and Side Navigation Bars*/
@media screen and (max-width: 500px) {
  .module_navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*Top Navigation Bar*/
.module_navbar {
  margin-left: 200px;
  background-color: rgb(78, 134, 103);
  overflow: auto;
}

.module_navbar a {
  float: right;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
}

.module_navbar a:hover {
  background-color: rgb(252, 252, 252);
  color: rgb(78, 134, 103);
}

/*Side Navigation Bar*/
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(78, 134, 103);
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: rgb(155, 64, 64);
}
.main {
  margin-left: 210px;  
  margin-right: 10px;
}
.active {
  background-color: rgb(78, 134, 103);
  color: white;
}

.dropdown-container {
  display: none;
  background-color: white;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}
.sidenav {
  border-style: outset;
  border: 5px solid rgb(78, 134, 103);
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color:  rgb(78, 134, 103);
  display: block;
}

.sidenav a:hover {
  color: rgb(155, 64, 64);
}

/* Flip Cards*/
.flip-card {
  display: inline-block; 
  margin:auto;
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  font-size:70px;
  padding: 100px 0;
  text-align:center;
  background-color: rgb(155, 64, 64);
  color: white;
}

.flip-card-back {
  padding: 5px;
  font-size:20px;
  background-color: rgb(78, 134, 103);
  color: white;
  transform: rotateY(180deg);
}

/*Quizzes*/
.question{
	font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #38a;
}

/*Pressing thing*/

#content {
    width: 200px;
    border: 1px dashed rgb(78, 134, 103);
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    user-select: none;
  }
	
  #clickarea {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    position: relative;
  }
	
  #logo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
    user-select: none;
  }
	
  #start {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(78, 134, 103);
    background-image: linear-gradient(to top left,
				  rgba(0, 0, 0, .2),
				  rgba(0, 0, 0, .2) 30%,
				  rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
  }
	
  #start:hover {
    background-color: rgb(155, 64, 64);
  }
	
  #start:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
  }

  .background { 
  
    background-repeat: no-repeat;
  background-attachment: fixed;
 background-size: cover;

     background-image: url(/static/images/background_Mod.jpg);
   
 }

 .demo_img{
   width: 1000px;
   display: block;
   margin-left: auto;
   margin-right: auto;

 }

 /* MAIN STYLE FOR CONENT IN MODULES */

 .content {
  color:rgb(8, 92, 47);
  padding: 10px 100px 30px;
}

.content h1 {
  padding-top: 50px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.content h2 {
  font-size: 60px;
  color: rgb(8, 92, 47);
  text-align: center;
  padding: 20px;
  color: rgb(255, 69, 0);
}

.content span{
  font-size: 25px;
  color: grey;
}
.content h3 {
  margin: 10px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 40px;
  color: rgb(255, 69, 0);
  padding-top: 10px;
}
.content h4 {
  margin-left: 100px;
  margin-right: 100px;
}
.content hr {
  border: 1px solid rgb(8, 92, 47);
  width: 2em;
}

.content p {
  color: rgb(8, 92, 47);
  display: block;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
}
.content ul, ol {
  margin-left: 100px;
  font-size: 20px;
}
.content a{
  color: rgb(155, 64, 64);
}

.home_headers1{
 text-decoration:underline;
 color:rgb(155, 64, 64);
}
.home_headers2{
	text-decoration:underline;
 text-align:center;
  color:rgb(155, 64, 64);
 }


.column {
 padding: 100px;

}
/*.row::after {
 content: "";
 clear: both;
 display: table;
}
@media screen and (min-width: 850px) {
 .column {
   width: 50%;
 }
 */
 .text_image {
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .image {
   flex-basis: 0%;
 }
 .picture_text {
   font-size: 20px;
   padding-left: 20px;
 }
 .center_text{
   text-align:center;
 }
 .center_img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 70%;
 }

 /* COLLAPSING MODULES STYLE */

 .collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 25px;
}

.active, .collapsible:hover {
  background-color: white;;
  color: rgb(78, 134, 103);
  font-size: 30px;
}

.submodule {
  display: none;
  overflow: hidden;
  background-color: white;
}
/* MODULE 1 SPECIFIC STLYE */
.yt-link {
  margin-left: 150px;
  margin-right: 150px;
}
.flippy-bois {
  margin-left: 100px;
  margin-right: 100px;
}
.flip-card h3 {
  margin: 0;
  color: white;
  font-size: 30px;

}
.flip-card p {
  margin: 0;
  color: white;
  font-size: 22px;
}
.flip-card a{
  color: rgb(155, 64, 64);
}
/* MODULE 3 SPECIFIC STYLE */
.M3history {
  margin: 5% 20%;
  color: rgb(78, 134, 103);
}
.M3tip {
  margin: 2%;
  margin-left: 20%;
  margin-right: 20%;
  color: rgb(78, 134, 103);
}
table {
  margin-left: 100px;
  margin-right: 100px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.M3column {
  margin: 0px;
  float: left;
  width: 20%;
  padding: 15px;
  margin-left: 90px;
  margin-right: 90px;
}
.M3column ul {
  margin: 0px;
  font-size: 15px;

}
.M3row:after {
  content: "";
  display: table;
  clear: both;
}
.nested-list ul{
  margin-left: 0px;
  margin-right: 0px;
}