{% extends "base.html"%}
{% block content %}

    <h1>GENERAL CAMPUS HEALTH + SAFETY</h1>
    <h2>Staying Safe, Healthy, and Happy!</h2>

    <div class="row">
        <div class="column" onclick="getTransportContent()">
            <img src="https://media.istockphoto.com/vectors/bicycle-helmet-vector-id483449037?k=6&m=483449037&s=612x612&w=0&h=PBZcErgCFC2HBavAGRUqIQ0k_rL2gIqsW01Dcf5JKo4=" 
            alt="helmet" width="400px" style="width:80%">
            <div class="overlay">
                <p>Transport Tips + Tricks</p>
            </div>
        </div>
        <div class="column" onclick="getMentalHealthContent()">
            <img src="https://www.nicepng.com/png/detail/236-2362567_health-clipart-mental-illness-positive-attitude-icon-png.png" 
            alt="mental health clipart" width="400px" style="width:80%">
            <div class="overlay">
                <p>Social Safety + Mental Health</p>
            </div>
        </div>
        <div class="column" onclick="getStudyContent()">
            <img src="https://www.pngitem.com/pimgs/m/241-2417740_drawing-of-student-studying-clipart-png-download-studying.png" 
            alt="study clipart" width="400px" style="width:80%">
            <div class="overlay">
                <p>Study Smart</p>
            </div>
        </div>
    </div>
{% endblock %}