{% extends "Modules.html"%}
{% block content %}
<body class = "background">
<div class="main">
        <h1 class ="home_headers2">Welcome to the modules</h1>
        <p style= "text-align:center" >This is where you will learn all about how to remain safe and healthy at university.
        In each module you will learn key tools about how to stay safe whilst on and off campus.
        <br>
        If you look to the left you will see a <a href="#navbar">navbar</a>, within that navbar there are <a href="#modules">three modules</a>, under each module you will find 
            two pages, the first entailing the <a href="#words">content</a> and the second providing a <a href="#quiz">quiz</a> that you can complete to test your knowledge. 
        </p>
        <div class="text_image">
            <div class="image">
        <h1 class ="home_headers1" id = "navbar">Navbar</h1>
        <img class="shadow" src ="/static/images/navbar2.png">
    </div>
    <div class="picture_text">
        <h5>If you look to your left there is a navbar which contains the modules, the quizzes as well as a results page that will tell you how well you did in this course.
        </h5>
    </div>
</div>

<div class="text_image">
    <div class="image">

        <h1 class ="home_headers1" id = "modules">Modules</h1>
        <img class="shadow" src ="/static/images/module2.png">
    </div>
    <div class="picture_text">
        <h5>
            If you want to learn about the content within any module, click on the relevant module then click on the first button (CPR, Drinking, General Health). 
        </h5>
    </div>
</div>


        <h1 class ="home_headers2" id = "words">Content</h1>
        <img class="demo_img" src ="/static/images/content.png">
        <h5 class="center_text">In each module there is a content page that will teach you about the university health and safety in a fun and interesting manner</h5>
    
    

        <h1  class ="home_headers2" id = "quiz">Quiz</h1>
        <img  class="demo_img" src ="/static/images/Quiz.png" >
        <h5 class="center_text"> 
            When you are ready to undertake the quiz, click on the relevant module then click quiz. 
            The quizzes will save your high score thus far, meaning if you re-attempt the quiz and you do worse than your previous attempt it will not impact your rankings.</h5>
   





    
</div>
</body>
{% endblock %}