{% extends "Modules.html"%}
{% block content %}
<body class = "background">
<div class="main">
        <h1>Welcome to the modules</h1>
        <p>This is where you will learn all about how to remain safe and healthy at university.</p>
        <p>In each module you will learn key tools about how to stay safe whilst on and off campus.</p>
        <br>
        <p>If you look to the left you will see a <a href="#navbar">navbar</a>, within that navbar there are <a href="#modules">three modules</a>, under each module you will find 
            two pages, the first entailing the <a href="#words">content</a> and the second providing a <a href="#quiz">quiz</a> that you can complete to test your knowledge. 
        </p>
        <h1 id = "navbar">Navbar</h1>
        <img  src ="/static/images/navbar.png">
        <h1 id = "modules">Modules</h1>
        <img src ="/static/images/module.png">
        <h1 id = "words">Content</h1>
        <img class="demo_img" src ="/static/images/content.png">
        <h1 id = "quiz">Quiz</h1>
        <img  class="demo_img" src ="/static/images/Quiz.png" >





    </div>
</div>
</body>
{% endblock %}