{% extends "base.html"%}
{% block content %}
<div class='container-fluid' id = 'login-container'>
    <div class = "container-fluid">
      <div class='row'>
        <div class='col-sm-7'></div>
        <div class = 'col-sm-4' style = "border:1px solid rgb(78, 134, 103); padding:15px; margin-top:15px">
          <h3> Login: </h3>
          <form action="" method = 'post' id='loginform'>
            {{ form.hidden_tag() }}
            <div class="form-group">
              <label for="username">Username:</label>
              {{ form.username(type='text', class='form-control',placeholder='Enter username',id='user')}}
              {% for error in errors %}
                {%if error == 'Invalid username'%}
                  <span style="color: red;">[{{ error }}]</span>
                {%endif%}
              {% endfor %}
              <!-- <input type="text" class="form-control" placeholder="username" id="user" name='username' value='{{form.username}}' required placeholder="required"> -->
            </div>  
            <div class="form-group">
              <label for="pwd">Password:</label>
              {{ form.password(type='password', class='form-control',placeholder='Enter password',id='loginpwd')}}
              {% for error in errors %}
                {%if error == 'Invalid password'%}
                  <span style="color: red;">[{{ error }}]</span>
                {%endif%}
              {% endfor %}
              <!-- <input type="password" class="form-control" placeholder="password" id="loginpwd" name='password' value='{{form.password}}' required placeholder="required"> -->
            </div>
            <div class="form-group form-check">
              <label class="form-check-label"><input class="form-check-input" type="checkbox"> Remember me </label>
            </div>
            <!-- <button type="submit" class="btn btn-primary" value='Login' id = 'login'>Login</button> -->
            {{form.submit(class='btn btn-primary', type='submit', value='Login', id='login')}}
          </form>
          <hr>
          <h3>New User?</h3>
          <p>Register Here!</p>
          <a href="register" class="btn btn-primary" role="button">Register Now!</a>
        </div>
        <div class='col-sm-1'></div>
      </div>
    </div>
</div>
<!-- <script>

  $('#login').on('click', function(event) {
    var firstpwd = '';
    var bool=false;
  $("form#loginform :input").each(function(){
    var value = $(this);
    console.log(value.attr('type'));
    if(value.attr('type') == 'text'){
      console.log('checking user');
      if(value.val() === '' || value.val() == null){
        bool = true;

        value.addClass('is-invalid');
        console.log(value.attr('class'));

      }
      else{
        value.addClass('is-valid');
      }
    }
    if(value.attr('type') == 'password'){
      console.log('checking password');
      if(value.val() === '' || value.val() == null){
        bool = true;

        value.addClass('is-invalid');
        console.log(value.attr('class'));

      }
      else{
        value.addClass('is-valid');
      }      
    }
  });
    if(bool == true){
      event.preventDefault();
    }
  });
</script> -->
{% endblock %}
