{% extends "Modules.html"%}
{% block content %}



<h1>MODULE 3: STUDY-SAFE </h1>
<h2>TIPS, TRICKS, and RESOURCES FOR UNI SUCCESS AND SAFETY</h2>

<!-- add in overview -->

<!-- TRANSPORT SECTION -->
<section>
<button type="button" class="collapsible">Module 3.1: Transport Tips + Tricks</button>
<div class="content">
    <h3>3.1 TRANSPORT TIPS + TRICKS</h3>
    <h3>Safe commutes to, from, and within uni campus</h3>
    <h4><i class="material-icons">&#xe536;</i>  WALKING</h4>
    <div class="submodule">
    <p>
        If you live close enough to the UWA campus, walking might be the best mode of transport for you.
        And this module can help you to optimise safety while travelling to, from, and around campus by foot...
    </p>
    <div class="history">
    <b>History Lesson:</b> In 1967, a 19 year old student died after being hit by a car on Stirling Highway. And this wasn't the first student 
    fatality of the kind in those past two years. After this, students pushed for way to cross the highway safely, and 
    this resulted in several underpasses... 
    <br><br>
    </div>
    <p>
        ...So make use of these underpasses to avoid taking the risk of crossing Striling Hwy.
        If you happen to be walking at night, UWA security provide an after-hours Escort Service and will walk you to car parks, colleges, and 
        accomodation immediately adjacent to the University. To use this service, call 6488 3020.
        UWA also has safety help points located throughout the campus with emergency phones linked directly to security services.
    </p>
    <iframe src="https://www.cm.uwa.edu.au/__data/assets/pdf_file/0006/3377976/UWA-Help-points-and-walksafe-routes-09-2018.pdf" 
            style="display:block;margin-left:auto;margin-right:auto;height:200px;width:80%;" ></iframe>

    <h4><i class="material-icons">&#xe52f;</i>  BIKES</h4>
    <p>
        UWA is a bike friendly campus so staying safe by wearing a helmet and watching out for other traffic including pedestrians is important!
    </p>
    <h4><i class="material-icons">&#xe530;</i>  PUBLIC TRANSPORT</h4>
    <p>
        If you don't live close enough to travel by foot or bike, public transport is a great option!
        Some important benefits of catching public transport:
        <ul>
            <li>Don't waste time finding a park</li>
            <li>Don't waste money paying for parking</li>
            <li>Make the most of your tranport time: extra study time or just some relaxation</li>
        </ul>
        While enrolled in UWA, you are eligible for a student concession Transperth SmartRider, which will allow cheap and easy journeys.
        You can plan your trip on the Transperth website, Transperth mobile app, or even use Google Maps to see what public transport is available for your route.
        <br><br>
        Bus Routes to UWA:
        <br><br>

    <table>
        <tr>
            <th>FROM</th>
            <th>ROUTE NO</th>
            <th>JOURNEY TIME TO UWA</th>
            <th>FREQUENCY</th>
        </tr>
        <tr>
            <td>Perth
                Elizabeth Quay Bus Station</td>
            <td>950, 23, 102, 107</td>
            <td>10 minutes</td>
            <td>Every 1-5 minutes during peak times and every 5-15 minutes at other times</td>
        </tr>
        <tr>
            <td>East Perth
                St Georges Terrace</td>
            <td>24, 103</td>
            <td>25 minutes</td>
            <td>Approximately every 20 minutes</td>
        </tr>
        <tr>
            <td>Subiaco Train Station</td>
            <td>97</td>
            <td>20 Minutes</td>
            <td>Every 15 minutes</td>
        </tr>
        <tr>
            <td>Claremont Train Station</td>
            <td>24, 23, 102, 107</td>
            <td>10 Minutes</td>
            <td>Every 10 minutes</td>
        </tr>
        <tr>
            <td>Fremantle Train Station</td>
            <td>998, 103</td>
            <td>30 minutes</td>
            <td>Every 15 minutes</td>
        </tr>
        <tr>
            <td>Stirling Train Station</td>
            <td>999</td>
            <td>30 minutes</td>
            <td>Every 5-10 minutes during peak times, and every 15-30 minutes at other times</td>
        </tr>
    </table>

    <br>
    <b>Tip: </b>Unless you're prepared to wait in a line that spans the entire length of Stirling hwy, it is suggested that you avoid planning to catch the 950 during peak hours.
</p>
<h4><i class="material-icons">&#xe531;</i>  DRIVING</h4>
<p>
    If the following apply to you, you may be eligible for a parking permit: 
    <!-- add in images that tell you the list points as you press them -->
    <ul>
        <li>full-time or part-time student at UWA</li>
        <li>has completed a minimum of 48 points towards a degree course</li>
        <li>live far enough away from UWA campus</li>
    </ul>

    These parking permits cost $90 per semester.

    Different parking zones: red = staff, yellow = student permit

    Tip: You don't need a permit for red and yellow bays on weekends, or after 5pm and before 8am on weekdays

    otherwise there is paid visitor parking that might be indicated by green or white markings
    Click 
    <a href = "https://www.transport.uwa.edu.au/__data/assets/pdf_file/0007/148948/UWA-Parking-map-2020.pdf">
        here
    </a>
    for a map of the paid parking available around UWA.

    <iframe src="https://www.transport.uwa.edu.au/__data/assets/pdf_file/0007/148948/UWA-Parking-map-2020.pdf" 
            style="display:block;margin-left:auto;margin-right:auto;height:200px;width:95%;" ></iframe>

    And again, if staying late, remember UWA security is always available to escort you safely to your car or residential college.

</p>
</div>
</div>
</section>

<!-- SOCIAL AND MENTAL HEALTH SECTION -->
<section>
<button type="button" class="collapsible">Module 3.2: Social Safety + Mental Health</button>
<div class="content">
<h3>3.2 SOCIAL SAFETY + MENTAL HEALTH</h3>
<h4>GUILD + CLUBS</h4>
<div class="submodule">
<p>
    The UWA Student Guild is made up of a selection of student representatives. Along with guild committees and departments, there is an endless list of student clubs 
    existing at UWA - including faculty clubs, study clubs, clubs based on particular hobbies, skills, cultures, religions, and on and on.
    Getting involved in these groups can be a great way enhance your university experience. It can stimulate social connections and lead you to meet friends similar interests, or study pals, potential tutors, mentors, etc. 
    All of which can lead to a more balanced and satisfying university adventure.
    <a href = "https://www.uwastudentguild.com/clubs">
        Visit this website to explore some of the available clubs - and to even build your own club!
    </a>
</p>

<h4>SPORTING + FITNESS</h4>
<p>
    UWA Sport: 
    <ul>
        <li>Gym and fitness centre: more than 50 group fitness classes a week</li>
        <li>Interfaculty sporting competitions</li>
        <li>Intercollege sporting competitions</li>
        <li>social sports</li>
    </ul>
</p>


<h4>MENTAL HEALTH</h4>
<p>
    Mental health help and resources UWA:
    <br>
    UWA Medical Center<br>
    <i class="material-icons" style="font-size:15px">&#xe55f;</i>  <a href="https://www.google.com/maps/place/Guild+Village,+5+Hackett+Dr,+Crawley+WA+6009/@-31.9808823,115.8172366,17z/data=!3m1!4b1!4m5!3m4!1s0x2a32a4edd00fe4cf:0xc6f563a145db5cc4!8m2!3d-31.9808869!4d115.8194253">Level 2, Guild Village</a>
    <br>
    There are health nurses.

    Welfare Programs and services available to UWA students:
    <ul>
        <li>Counselling</li>
        <li>Food Pantry</li>
        <li>
            Mental health week
            <ul>
                <li>yearly</li>
                <li>run by guild access and welfare departments</li>
                <li>a showcase of services offered to students by local mental health organisations</li>
            </ul>
        </li>
        <li>stress-busting tips</li>
        <li>visa help</li>
        <li>Discrimination</li>
        <li>legal resources</li>
        <li>see more:<a href = "https://www.uwastudentguild.com/assets/downloads/student-assist/welfare-mental-health-directory_web.pdf">
            mental health directory UWA
        </a></li>
    </ul>

</p>
</div>
</div>
</section>


<!-- STUDY SECTION-->
<section>
<button type="button" class="collapsible">Module 3.3: Study Satisfaction</button>
<div class="content">
<h3>3.3 STUDY SATISFACTION</h3>
<div class="submodule">
<h4>STUDY RESOURCES</h4>
<p>
    <div class="row">
        <div class="column">
            <b>Careers Centre</b><br>
            Where to find them?<br><br>
            <i class="material-icons" style="font-size:15px">&#xe55f;</i>  
            <a href="https://www.google.com/maps/place/Student+Central/@-31.9804555,115.8167714,17z/data=!3m1!4b1!4m5!3m4!1s0x2a32a4edd7771d61:0xaaf92cd5547a3408!8m2!3d-31.9804594!4d115.8193573">Ground Floor, Student Central</a><br>
            <i class="material-icons" style="font-size:15px">&#xe0be;</i>  
            <a href="mailto:careerscentre@uwa.edu.au">careerscentre@uwa.edu.au</a><br>
            <i class="material-icons" style="font-size:15px">&#xe0b0;</i>  
            <a href="tel:(+61 8) 6488 2258">(+61 8) 6488 2258</a><br><br>
            Providing advice and career guidance.<br><br>
        </div>



        <div class="column">
            <b>Uni Access</b><br>
            Where to find them?<br><br>
            <i class="material-icons" style="font-size:15px">&#xe55f;</i>  
            <a href="https://www.google.com/maps/place/Student+Central/@-31.9804555,115.8167714,17z/data=!3m1!4b1!4m5!3m4!1s0x2a32a4edd7771d61:0xaaf92cd5547a3408!8m2!3d-31.9804594!4d115.8193573">Level 1, Student Central</a><br>
            <i class="material-icons" style="font-size:15px">&#xe0be;</i>  
            <a href="mailto:uniaccess@uwa.edu.au">uniaccess@uwa.edu.au</a><br>
            <i class="material-icons" style="font-size:15px">&#xe0b0;</i>  
            <a href="tel:(+61 8) 6488 2423">(+61 8) 6488 2423</a><br><br>
            UniAccess teams provide support and assistance for students with a disability or illness affecting their studies - whether it be an ongoing, temporary, or episodic condition.
            Their role is to assist you in performing at your academic best, while keeping all information confidential. 
            UniAccess can provide the following:
            <ul>
                <li>accessible course materials</li>
                <li>special consideration</li>
                <li>required equipment, technology</li>
                <li>alternative exam arrangements</li>
                <li>advice </li>
            </ul>
        </div>

        <div class="column">
            <b>Study Smarter</b><br>
            Where to find them?<br><br>
            <i class="material-icons" style="font-size:15px">&#xe55f;</i>  
            <a href="https://www.google.com/maps/place/Student+Central/@-31.9804555,115.8167714,17z/data=!3m1!4b1!4m5!3m4!1s0x2a32a4edd7771d61:0xaaf92cd5547a3408!8m2!3d-31.9804594!4d115.8193573">Level 2, Student Central</a><br>
            <i class="material-icons" style="font-size:15px">&#xe0be;</i>  
            <a href="mailto:studysmarter@uwa.edu.au">studysmarter@uwa.edu.au</a><br>
            <i class="material-icons" style="font-size:15px">&#xe0b0;</i>  
            <a href="tel:(+61 8) 6488 2423">(+61 8) 6488 2423</a><br><br>
            UWA's Academic Skills Centre provides free Study Smarter programs.
            These programs include expert advice and tutoring in the following areas:
            <ul>
                <li>study techniques</li>
                <li>time management</li>
                <li>writing</li>
                <li>communications</li>
                <li>English language</li>
                <li>maths and stats</li>
                <li>research skills</li>
            </ul>
        </div>

    </div>
</p>



<h4>GUILD, CLUBS, AND EVENTS</h4>
There are constantly events being run - from workshops, networking, and social events assisting in meeting others in your field.

<h4>UNIVERSITY STUDY TIPS</h4>
<p>
    Exams: remember...
    to bring student ID, clear pencil case with any equipment needed, clear water bottle
    check which items are allowed (eg. calculator?)
    make sure to turn phone off
    be prepared with notes if the exam is open book
    check time and location (found on student connect)
    <br><br>
    Time management:
    calander or diary (can pick up a UWA diary) at Guild Student Centre
    break up tasks into smaller tasks and keep track of what you want to get done each day, each week etc. with regular study goals.
    Make sure to have breaks to reward yourself when ticking something off or even just when losing concentration..
    .making use of phone timer can help to keep you on track
    <br><br>
    Assignments:
    <br><br>
    Group Projects:
</p>



<h4>STUDY SPACES ON CAMPUS</h4>
<p>
    Libraries:
    <ul>
        <li>Reid Library</li>
        <li>Barry J Marshall Library</li>
        <li>Beasley Law Library</li>
        <li>J. Robin Warren Library</li>
        <li>EDFAA Library</li>
        <li>EZONE</li>
    </ul>

    Tip: during exam periods, Reid stays open 24/7.
    These libraries have different levels for different sound levels...? And you are able to book out study and collaboration spaces.
    OneSearch provides online access electronic journals, ebooks, past exam papers, and more.
    Online resources can be accessed on campus and from outside UWA 

</p>
</div>
</div>
</section>


<script>
    var collapse = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < collapse.length; i++) {
      collapse[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
</script>



{% endblock %}