{% extends "Modules.html"%}
{% block content %}
<body>
<h1 class="blinking header">
    CPR
</h1>
<h2>What?</h2>
<p>
    CPR is short for cardiopulmonary resuscitation. 
    It is a first aid technique that can be used if someone is not breathing properly or if their heart has stopped.
    CPR involves chest compressions and mouth-to-mouth that help circulate blood and oxygen in the body. 
    This can help keep the brain and vital organs alive.
</p>
<h2>Why?</h2>
<p>
    You may think that learning CPR is unnecessary but it is a valuable skill to learn, especially as 
    a student at a university. Professors can collapse, people can drown in the mote or the pools or even
    choke on their food at lunch.
</p>
<h2>Who?</h2>
<p>
    Only ever perform CPR if the person:
    <ul>
        <li>Is unconscious</li>
        <li>Is not responding to you</li>
        <li>Is not breathing, or is breathing abnormally</li>
    </ul>
</p>
<h2>
How?
</h2>
<p>
<div>STAY CALM</div>
</p>

<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h1>D</h1>
      </div>
      <div class="flip-card-back">
        <h1><b>Danger</b></h1> 
        <p>Ensure the patient and everyone in the area is safe</p> 
        <p>We love that guy</p>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h1>R</h1>
      </div>
      <div class="flip-card-back">
        <h1><b>Response</b></h1> 
        <p>Look for a response from the patient </p> 
        <p>Ask their name, squeeze their shoulder</p>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h1>S</h1>
      </div>
      <div class="flip-card-back">
        <h1><b>Send for help</b></h1> 
        <p>If no response then call 000</p> 
        <p><b>Do not leave the patient</b></p>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h1>A</h1>
      </div>
      <div class="flip-card-back">
        <h1><b>Airway</b></h1> 
        <p>Check if their mouth and through is clear</p> 
        <p>Remove any obvious blockages</p>
        <p>gently tilt their head back and lift their chin</p>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h1>B</h1>
      </div>
      <div class="flip-card-back">
        <h1><b>Breathing</b></h1> 
        <p>Check if the patient is breathing normally</p> 
        <p>place them in the recovery position</p>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h1>C</h1>
      </div>
      <div class="flip-card-back">
        <h1><b>CPR</b></h1> 
        <p>If they are still not breathing properly</p> 
        <p>Start CPR</p>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h1>D</h1>
      </div>
      <div class="flip-card-back">
        <h1><b>Defibrillator</b></h1> 
        <p>Attach an Automated External Defibrillator to the patient</p> 
        <p><b>Do not leave the patient</b></p>
      </div>
    </div>
  </div>
{% endblock %}