{% extends "Modules.html"%}
{% block content %}
<body>
<h1 class="blinking header">
    CPR
</h1>
<h2>What?</h2>
<p>
    CPR is short for cardiopulmonary resuscitation. 
    It is a first aid technique that can be used if someone is not breathing properly or if their heart has stopped.
    CPR involves chest compressions and mouth-to-mouth that help circulate blood and oxygen in the body. 
    This can help keep the brain and vital organs alive.
</p>
<h2>Why?</h2>
<p>
    You may think that learning CPR is unnecessary but it is a valuable skill to learn, especially as 
    a student at a university. Professors can collapse, people can drown in the mote or the pools or even
    choke on their food at lunch.
</p>
<h2>Who?</h2>
<p>
    Only ever perform CPR if the person:
    <ul>
        <li>Is unconscious</li>
        <li>Is not responding to you</li>
        <li>Is not breathing, or is breathing abnormally</li>
    </ul>
</p>
<h2>
How?
</h2>
<p>
<div>STAY CALM</div>
</p>
<h3>
    D
</h3>
<p>

</p>
<h3>
    R
</h3>
<p>

</p>
<h3>
    S
</h3>
<p>

</p>
<h3>
    A
</h3>
<p>

</p>
<h3>
    B
</h3>
<p>

</p>
<h3>
    C
</h3>
<p>

</p>
<h3>
    D
</h3>
<p>

</p>
</body>
{% endblock %}