{% extends "Modules.html"%}
{% block content %}
<body>
<h1 class="blinking header">
  CPR
</h1>
<div class="main">
<h2>Picture this...</h2>
<p>You are sitting in a lecture when your lecturer collapses. He is unresponsive and is not responding to his name.
  After further inspection you realised he is having trouble breathing.
  <br>
  What would you do in this situation?
  <br>
  In this module we will inform you how to perform CPR, so that in case of an emergency
  you are prepared.
</p>
<h2>What is CPR?</h2>
<p>
  CPR is short for cardiopulmonary resuscitation. 
  It is a first aid technique that can be used if someone is not breathing properly or if their heart has stopped.
  CPR involves chest compressions and mouth-to-mouth that help circulate blood and oxygen in the body. 
  This can help keep the brain and vital organs alive.
</p>
<h2>Why should you learn CPR?</h2>
<p>
  You may think that learning CPR is unnecessary but it is a valuable skill to learn, especially as 
  a student at a university. Professors can collapse, people can drown in the mote or even
  choke on their food at lunch.
</p>

<h2>Who can you perform CPR on?</h2>
<p>
  Only ever perform CPR if the person:
  <ul>
      <li>Is unconscious</li>
      <li>Is not responding to you</li>
      <li>Is not breathing, or is breathing abnormally</li>
  </ul>
</p>

<h2>What should you do in an emergency?</h2>
<p>
  After checking that someone is one of the above, you must first follow the DRSABCD's before starting CPR.
  One of the most important things for someone to remember is to <b>STAY CALM</b>
</p>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h1>D</h1>
    </div>
    <div class="flip-card-back">
      <h2><b>Danger</b></h2> 
      <p>Ensure the patient and everyone in the area is safe</p> 
    </div>
  </div>
</div>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h1>R</h1>
    </div>
    <div class="flip-card-back">
      <h3><b>Response</b></h3> 
      <p>Look for a response from the patient </p> 
      <p>Ask their name, squeeze their shoulder</p>
    </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h1>S</h1>
    </div>
    <div class="flip-card-back">
      <h3><b>Send for help</b></h3> 
      <p>If no response then call 000</p> 
      <p><b>Do not leave the patient</b></p>
    </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h1>A</h1>
    </div>
    <div class="flip-card-back">
      <h3><b>Airway</b></h3> 
      <p>Check if their mouth and through is clear, remove any obvious blockages, 
        gently tilt their head back and lift their chin</p>
    </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h1>B</h1>
    </div>
    <div class="flip-card-back">
      <h3><b>Breathing</b></h3> 
      <p>Check if the patient is breathing normally</p> 
      <p>place them in the <a href="#recovery">recovery position</a></p>
    </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h1>C</h1>
    </div>
    <div class="flip-card-back">
      <h3><b>CPR</b></h3> 
      <p>If they are still not breathing properly</p> 
      <p>Start <a href = "#CPR">CPR</a></p>
    </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h1>D</h1>
    </div>
    <div class="flip-card-back">
      <h3><b>Defibrillator</b></h3> 
      <p>Attach an Automated External Defibrillator to the patient</p> 
      <p><b>Do not leave the patient</b></p>
    </div>
  </div>
</div>


<h1 id="CPR">How do you perform CPR?</h1>
<p>After following DRSABCD, you are now ready to perform CPR. There are two main steps with CPR, the first
  being the chest compressions and the second being the mouth-to-mouth process. In order to properly perform
  CPR aim for 30:2 ratio, meaning 30 compressions with 2 breaths in between, you must also aim to do between 100 and 120
  compressions per minute.</p>
  <h2> To carry out chest compressions you must:</h2>
  <img style="float:right; margin: 5px;" src="https://d2ebzu6go672f3.cloudfront.net/media/content/images/H0819b_costo(1).jpg"></img>
  <ol style="text-align: justify; font-size: 25px">
      <li>Place the patient on their back and kneel beside them.</li>
      <li>Place the heel of your hand on the lower half of the breastbone,
           in the centre of the persons chest. Place your other hand on top of the first hand and interlock your fingers.</li>
      <li>Position yourself above the patient&apos;s chest.</li>
      <li>Using your body weight (not just your arms) and keeping your arms straight, press straight down on their chest by one third of the chest depth.</li>
      <li>Release the pressure. Pressing down and releasing is 1 compression</li>
      </ol>

  
  <h2>Give mouth-to-mouth:</h2>
  <ol>
    <li>Open the person’s airway by placing one hand on the forehead and your other hand under the chin to tilt the head back.</li>
    <li> Pinch the soft part of the nose closed with your index finger and thumb.</li>
    <li>Open the person’s mouth with your thumb and fingers.</li>
    <li>Take a breath and place your lips over the patient's mouth, ensuring a good seal.</li>
    <li>Blow steadily into their mouth for about 1 second, watching for the chest to rise.</li>
    <li>Following the breath, look at the patient’s chest and watch for the chest to fall. Listen and feel for signs that air is being expelled. Maintain the head tilt and chin lift position.</li>
    <li>If their chest does not rise, check the mouth again and remove any obstructions. Make sure the head is tilted and chin lifted to open the airway. Check that yours and the patient’s mouth are sealed together and the nose is closed so that air cannot easily escape. Take another breath and repeat.</li>
  </ol>
  

  
<iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>
<div data-video = "VIDEO_ID"
       data-startseconds = "134"
       data-endseconds = "210"
       data-height = "480"
       data-width = "640"
       id = "youtube-player">
  </div>

  <h1 id="recovery">What is the recovery position?</h1>
  <img style="float:right; margin: 5px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQoMAKO_OVf130yx35hxZbZTrOImfga3LuFA&usqp=CAU"></img>
  <ol style="text-align: justify; font-size: 25px">
      <li>Lie the patient down on their back</li>
      <li>Place the patient&apos;s furthest arm directly out from their body </li>
      <li>Place the patient&apos;s nearest arm across their chest</li>
      <li>Lift the patient's nearest leg at the knee and place their foot on the floor so the leg is bent</li>
      <li>Roll the patient away from you onto their side, whilst also supporting their head and neck the whole time</li>
      <li>Keep the patient’s leg bent with their knee touching the ground to prevent the patient rolling onto their face.</li>
      <li>Place the patient’s hand under their chin to stop their head from tilting and to keep their airway open.</li>
    </ol>

  
    <body>
      <div id="content">
        Timer: <span id="timer"></span><br/>
        Score: <span id="score"></span><br/>
        Clicks/s: <span id="clicks"></span>
      </div>

      <div id="clickarea">
        <button id="start">Start</button>
      </div>

      <script type="text/javascript">
        var score; // to store the current score
        var duration = 10; // 10 seconds
        var startTime; // start time
        var ended = true; // boolean indicating if game is ended
        // we get DOM References for some HTML elements
        var timerTxt = document.getElementById("timer");
        var scoreTxt = document.getElementById("score");
        var clicksTxt = document.getElementById("clicks");
        var startBtn = document.getElementById("start");
        var clickArea = document.getElementById("clickarea");
    
        // we define two functions for showing or hiding a HTML element
        var show = function(elem) {
          elem.style.display = 'inline';
        };
    
        var hide = function(elem) {
          elem.style.display = 'none';
        };
    
        // Method called when the game starts
        function startGame() {
          hide(startBtn);
          score = -1;
          ended = false;
          // we get start time
          startTime = new Date().getTime();
    
          // we create a timer with the setInterval method
          var timerId = setInterval(function() {
            var total = (new Date().getTime() - startTime) / 1000;
    
            // while total lower than duration, we update timer and the clicks by seconds
            if (total < duration) {
              timerTxt.textContent = total.toFixed(3);
              clicksTxt.textContent = (score / total).toFixed(2);
            } else {
              // otherwise, game is ended, we clear interval and we set game as ended
              ended = true;
              clearInterval(timerId);
              // we call the end game method
              endGame();
            }
          }, 1);
      }
    
      // end game method
      function endGame() {
        // we write final stats
        var clicsBySeconds = (score / duration).toFixed(2);
        timerTxt.textContent = duration.toFixed(3);
        clicksTxt.textContent = clicsBySeconds;
        // we show start button to play an other game
        show(startBtn);
    
        // we display result to the user in delayed mode 
        //to update DOM elements just before the alert
        setTimeout(function() {
          if(clicsBySeconds <= 2 && clicsBySeconds > 1.7){
          alert('You made ' + score + ' clicks in ' + duration + 
          ' seconds. It is ' + clicsBySeconds + 
          ' clicks by seconds. Good Job, you are in the correct range');
        }
        else if(clicsBySeconds > 2){
          alert('You made ' + score + ' clicks in ' + duration + 
          ' seconds. It is ' + clicsBySeconds + 
          ' clicks by seconds. Try again, you were too fast.');
        }
        else if(clicsBySeconds <= 1.7){
          alert('You made ' + score + ' clicks in ' + duration + 
          ' seconds. It is ' + clicsBySeconds + 
          ' clicks by seconds. Try again, you were too slow.')}
          

        }, 10);
      }
    
      // we set a click event listener on the start button
      startBtn.addEventListener("click", function(e) {
        startGame();
      });
    
      // we add a click event listener on the click area div to update the score when the user will click
      clickArea.addEventListener("click", function(e) {
        if (!ended) {
          score++;
          scoreTxt.textContent = score;
        }
      });
    </script>
    </body>





  <script src="https://m.youtube.com/watch?v=ssIY8NYwvh4"></script>
  <script type="text/javascript">
    function onYouTubeIframeAPIReady() {
      var ctrlq = document.getElementById("youtube-player");
      var player = new YT.Player('youtube-player', {
        height: ctrlq.dataset.height,
        width: ctrlq.dataset.width,
        events: {
          'onReady': function(e) {
            e.target.cueVideoById({
              videoId: ctrlq.dataset.video,
              startSeconds: ctrlq.dataset.startseconds,
              endSeconds: ctrlq.dataset.endseconds
            });
          }
        }
      });
    }
  </script>

</div>
{% endblock %}