{% extends "Modules.html"%}
{% block content %}
<div class = "main">
    <div id="quiz"></div>
    <div id="results"></div>
    <button id="complete" class='btn btn-primary'>Submit Quiz</button>
    <input type='text', style='display:none' id='mark' name='mark'>
    </div>
    <script>
      $(function(){
        $('button#complete').bind('click', function(){
          console.log($('input[name="mark"]').val());
          $.getJSON('/login/module3/quiz/_update_marks', {
            mark: $('input[name="mark"]').val()
          }, function(data){
            alert(data.status);
          });
          return false;
        });
      });
    </script> 
    <script>
        (function(){
      function buildQuiz(){
        // variable to store the HTML output
        const output = [];
    
        // for each question...
        myQuestions.forEach(
          (currentQuestion, questionNumber) => {
    
            // variable to store the list of possible answers
            const answers = [];
    
            // and for each available answer...
            for(letter in currentQuestion.answers){
    
              // ...add an HTML radio button
              answers.push(
                `<label>
                  <input type="radio" name="question${questionNumber}" value="${letter}">
                  ${letter} :
                  ${currentQuestion.answers[letter]}
                </label>`
              );
            }
    
            // add this question and its answers to the output
            output.push(
              `<div class="question"> ${currentQuestion.question} </div>
              <div class="answers"> ${answers.join('')} </div>`
            );
          }
        );
    
        // finally combine our output list into one string of HTML and put it on the page
        quizContainer.innerHTML = output.join('');
      }
    
      function showResults(){
    
        // gather answer containers from our quiz
        const answerContainers = quizContainer.querySelectorAll('.answers');
    
        // keep track of user's answers
        let numCorrect = 0;
    
        // for each question...
        myQuestions.forEach( (currentQuestion, questionNumber) => {
    
          // find selected answer
          const answerContainer = answerContainers[questionNumber];
          const selector = `input[name=question${questionNumber}]:checked`;
          const userAnswer = (answerContainer.querySelector(selector) || {}).value;
    
          // if answer is correct
          if(userAnswer === currentQuestion.correctAnswer){
            // add to the number of correct answers
            numCorrect++;
    
            // color the answers green
            answerContainers[questionNumber].style.color = 'lightgreen';
          }
          // if answer is wrong or blank
          else{
            // color the answers red
            answerContainers[questionNumber].style.color = 'red';
          }
        });
    
        // show number of correct answers out of total
        resultsContainer.innerHTML = `${numCorrect} out of ${myQuestions.length}`;
        document.getElementById('mark').value = numCorrect;

      }
    
      const quizContainer = document.getElementById('quiz');
      const resultsContainer = document.getElementById('results');
      const submitButton = document.getElementById('complete');
      const myQuestions = [
        {
          question: "Sally has successfully completed 96 degree points while studying full-time at UWA. Sally lives in an area considered eligible for a permit but has decided to change to part-time study. Is Sally still eligible for a student-parking permit?",
          answers: {
            a: "Yes",
            b: "No",
            c: "Yes, but she will have to pay more",
            d:  "Only if she has a WAM of 80+"   
        },
          correctAnswer: "a"
        },
        {
          question: "If you call security on 6488 3020 after hours, what service will they provide?",
          answers: {
            a: "Complete your assignment for you",
            b: "Walk you to your car",
            c: "Call the police",
            d: "Buy you a drink"
            
          },
          correctAnswer: "b"
        },
        {
          question: "After a student died while crossing Stirling Hwy, what road-crossing alternative was introduced?",
          answers: {
            a: "Bike share",
            b: "Private helicopters",
            c: "A buddy system",
            d: "Underpasses"
          },
          correctAnswer: "d"
        },
    
        {
          question: "Which of the following does NOT affect one's eligibility for a UWA parking permit?",
          answers: {
            a: "Residential postcode",
            b: "Age",
            c: "Number of degree points completed",
            d: "University at which they are enrolled",
          },
          correctAnswer: "b"
        },
        {
          question: "What week is run by the Guild Access and Welfare departments each year?",
          answers: {
            a: "Women's week",
            b: "Easter week",
            c: "Mental health week",
            d: "O-week",
          },
          correctAnswer: "c"
        },
        {
          question: "Which of these options is NOT a sporting event run by UWA Sport?",
          answers: {
            a: "Social Sports",
            b: "Drinking Sports",
            c: "Intercollege Competitions",
            d: "Interfaculty Competitions",
          },
          correctAnswer: "b"
        },
        {
          question: "In which building will you find the Careers Centre, Uni Access, and Study Smarter?",
          answers: {
            a: "Student Central",
            b: "Reid Library",
            c: "The UWA medical centre",
            d: "The Refractory",
          },
          correctAnswer: "a"
        },
        {
          question: "Which of UWA's libraries opens 24/7 during exam periods?",
          answers: {
            a: "Barry J Marshall",
            b: "Reid Library",
            c: "J. Robin Warren",
            d: "Beasely",
          },
          correctAnswer: "b"
        },
        {
          question: "What time management tool can you pick up at Guild Student Central?",
          answers: {
            a: "Timer",
            b: "Goal journal",
            c: "Diary",
            d: "Calculator",
          },
          correctAnswer: "c"
        },
        {
          question: "What is the name of UWA's academic support team?",
          answers: {
            a: "Smarter Study",
            b: "Study Help",
            c: "Study Smarter",
            d: "Study 101",
          },
          correctAnswer: "c"
        }
        
    
      ];
    
      // Kick things off
      buildQuiz();
    
      // Event listeners
      submitButton.addEventListener('click', showResults);
    })();
    </script>
      {% endblock %}
