{% extends "Modules.html"%}
{% block content %}
<div class = main>
<h1> Safe Drinking Practices</h1>
    <h2>Picture this...</h2>
        <p>
            It's 2:00AM in the morning, you've yacked two times already in your parents garden bed.  
            Your mate dissapeared 3 hours ago and no-one has seen him, and everyone else (including you) is still downing shots.
            You came here straight from work and haven't eaten anything since breakfast.  Feeling a little sick, you decide to eat some
            bread to get something in your stomach, which ironically makes you feel worse so you head to the bathroom to complete a 
            well executed tactical yaktical, before passing out in front of the toilet.  Some people would call this a normal Friday night,
            but here at Unisafe we want you to still enjoy your nights out, but also minimise the risk of you hurting yourself (or someone else)
            while redlining your liver.
            <br>
            In this module we will list some practices you can use to look after yourself, and others, on a big night out!
            We make the mistakes so that you don't have to!
        </p>
    <h2>Before you go out...</h2>
        <h3>Plan Plan Plan!</h3>
        <p>
            As Robert H. Schuller so briliantly stated...  <i>Spectacular achievement is always preceded by unspectacular preperation</i>.  
            To make sure you enjoy your night to the best of your ability we reccomend you think about the following things before 
            heading out.
        </p>
        <h3>How am I getting there/home?</h3>
        <p>
            To avoid being in a situation where you will have to consider driving under the influence (which should NEVER be an option), 
            it's best to think about how you're going to be getting to the venue and back.  Here are some potential transport methods for 
            getting to and from venues.
            <ul>
                <li>Having a designated driver</li>
                <li>Book a ride share</li>
                <li>Public transport (make sure to check a timetable!)</li>
                <li>Have your/someones parents take you</li>
                <li>Walk (if its a safe distance)</li>
            </ul>
        </p>
        <h3>A fist full of food</h3>
        <p>
            Drinking on an empty stomach is dangerous, you'll will get more intoxicated quicker and could seriously damage your stomach lining.  
            Thats why we reccomend you have around a fist full of food before you go out, this means you will absorb alcohol slower over the course 
            of your night.  
        </p>
        <h3>Know your limits</h3>
        <p>
            Only you know how much alcohol you can handle before getting sick.  This can change depending on how much water you've drunk, and how
            much food you've eaten.  
            <br>
            Drink in moderation to avoid going over your limit.  A good tip is to only take enough alcohol to enjoy your night, and not enough to
            make you sick.  
        </p>
    <h2>While you're out...</h2>
        <p>
            Ok, assuming you've followed everything so far, you should have safely arrived at the venue with not too much alcohol, a fist full of food
            and a plan to get home.
            <br>
            Mates look after mates, if you see someone (even if you don't know them) experiencing signs of extreme intoxication,
            It's your job to try and help them, you want to make sure that everyone stays alive tonight. 
            <br>
            This section is more foccused on caring for seriously intoxicated individuals who 
            were not as responsible as you and failed to plan their night out.
        </p>
        <h3>Chair test</h3>
        <p>
            It is the usual circumstance that drunk people will say stuff like "I just want to take a nap" or something similiar.  However,
            this can be a dangerous circumstance, for it is entirely possible that someone could throw up in there mouth during their sleep,
            and silently choke to death.  This is why we have developed a test so that you can avoid this morbid possibiltiy.  
            <br>
            Here are the steps
            <ol>
                <li>Grab a chair</li>
                <li>Sit the seriously intoxicated individual in the chair</li>
                <li>Grab their attention, and ask them to keep their head up</li>
                <li>If they can't keep their head up on their own, then
                    you shouldn't let them go to bed
                </li>
                <li>If they are repsonsive enough to be able to keep their head up
                    then you can let them go to bed
                </li>
            </ol>
        </p>
        <h3>Water time</h3>
        <p>
            Make sure to drink a glass of water after every drink you have.  A hangover is the result of dehydration, 
            as alcohol will cause you to urinate more, causing dehydration.  You will thank yourself in the morning for following
            this tip.  Also make sure that everyone else also follows this tip.
            <br>
            When dealing with intoxicated people it is best to give them some water so that they can slowly sip it to rehydrate
            their body.  Drinking the water too fast can just leave them needing to be sick.
        </p>
        <h3>Bread absorbs alcohol... Right?</h3>
            <p>
                DON'T give any drunk person bread.  Bread absorbs liquids, so theres a possibility that it will swell in the 
                persons throat and cause them to choke.  
            </p>
        <h3>Don't mix alcohol and aquatic activiteis</h3>
            <p>
                This goes without saying, but we're listing it here anyway.
            </p>
        <h3>Splash zone</h3>
            <p>Someones had too much to drink, and they feel like they're going to be sick.  To avoid having a disgusting mess later
                it's best to get them a bucket.
                <br>
                When drunk people vomit, they projectile vomit.  Meaning that it will all hit the bottom of the bucket, and spray back into
                their face.  
                <br>
                Disgusting.
                <br>
                However, by throwing in a <span>cloud</span> of tissues at the bottom of the bucket, this can be avoided.
            </p>
        <h3>The bathroom is dangerous</h3>
            <p>The bathroom is one of the most dangerous places to take a drunk person, theres potentially slippery floors, and hard
                porcelain surfaces.  It is very possible that a drunk person could slip and smash their head/face on a toilet bowl, sink, or a bath.
                There's also glass doors around the shower, and hard floors.  There are many stories of people cracking their head open or chipping teeth
                due to these factors.
            </p>
        <h3>Don't be afraid to call for help</h3>
            <p>Sometimes people need attention that you can't provide.  Never be afraid to contact emergency services and call an ambulance.
                Your night, and the night of other people won't be ruined by an ambulance turning up.  Ambulances don't report to the police,
                so even if the person is underage, or their are drugs at the party, know that it is not their job to enforce the law.  They just
                want to make sure that this person gets the help they recieve.  It's always better to be safe then sorry.
                <br>
                To contact emergency services, call 000 and ask for an amublance. Stay on the call and answer all the questions they ask you
                They will ask the following questions, so make sure you know the answers.
                <ul>
                    <li>What is the address of the emergency? Street, cross reference or landmark will be required.</li>
                    <li>What is the telephone number you are calling from? 
                        This is in case your call is terminated or further information is required.</li>
                    <li>Tell me exactly what has happened? Provide a brief description of the problem.</li>
                    <li>How old is s/he? If unknown then approximate age.</li>
                    <li>Is s/he awake (conscious)? Yes or no answer required.</li>
                    <li>Is s/he breathing? Yes or no answer required. </li>
                </ul>
            </p>
<h2>When(if) you get home...</h2>
    <h3>Am I alright to drive in the morning</h3>
        <p>
            Sometimes you don't have the luxury of being able to laze around in the morning after a night out.  Even after you've slept and
            woken up in the morning, you might still have more than the legal amount of alcohol in your system to drive.  This is mostly
            true if you're on P plates, where you are not allowed ANY alcohol in your system.  
            <br>
            When thinking aboutdriving in the morning you
            must consider the following.  Did I have a BIG night, or a MASSIVE night.  You'll know if you had a big night or a massive night depending
            on how you feel in the morning.
            <br>
            If you've had a BIG night, wait until noon until you drive, this way you can make sure you have no alcohol in your system.
            <br>
            If you've had a MASSIVE night, just to be safe, we would reccomend not driving for the rest of the day.
        </p>
    <h3>Dealing with a hangover</h3>
        <p>
            Unfortunately, there is no magical cure for a hangover.  We wish we could tell you that blending 3 raw eggs, Sriracha, and Worcesterchire sauce
            into a foul concotion will fix the head hurty, but the only real cure is time.
        </p>
<h2>Now attempt our quiz to see how well you retained this knowledge!</h2>
</div>
{% endblock %}