{% extends "base.html"%}
{% block content %}
<div class = 'container-fluid table-div'>
  <div class = 'container' >
  <h1 class='login-text' style='border-bottom:2px solid rgb(78, 134, 103);'>The Top 10</h1>
  
  <table class = 'table table-bordered table-hover' id = 'table1'>
    <thead>
      <th>Rank</th>
      <th>User</th>
      <th>Score</th>
    </thead>
    <tbody>
    {%for n in range(len)%}
    {%if n==0%}
      <tr class='table-success'>
        <td><span>#{{vals[n]}} <span class='medal'>&#129351;</span></span></td>
        <td><span><img src='{{imgs[n]}}'>   {{ranks[n][0]}}</span></td>
        <td>{{ranks[n][1]}} points</td>
      </tr>
    {%elif n==1%}
      <tr class='table-success'>
        <td><span>#{{vals[n]}} <span class='medal'>&#129352;</span></span></td>
        <td><span><img src='{{imgs[n]}}'>   {{ranks[n][0]}}</span></td>
        <td>{{ranks[n][1]}} points</td>
      </tr>
    {%elif n==2%}
      <tr class='table-success'>
        <td><span>#{{vals[n]}} <span class='medal'>&#129351;</span></span></td>
        <td><span><img src='{{imgs[n]}}'>   {{ranks[n][0]}}</span></td>
        <td>{{ranks[n][1]}} points</td>
      </tr>
    {%else%}
      <tr class='table-primary'>
        <td>#{{vals[n]}}</td>
        <td><span><img src='{{imgs[n]}}'>   {{ranks[n][0]}}</span>   </td>     
        <td>{{ranks[n][1]}} points</td>
      </tr>
      {%endif%}
    {%endfor%}
  </tbody>
  </table>
</div>
</div>

</body>
<!-- <script>
  window.onload = function() {
    var rows = $('#table1 > tbody > tr');
    console.log(rows);
    rows.each(function(){ 
      console.log(this);
      $(this).addClass("table-success");
    // for (row in rows){
    //   row.addClass('table-primary');
    // }
    // console.log(rows[0].classList)
    });
  }
</script> -->
{% endblock %}