<!DOCTYPE html>
<html lang = "en">
<meta charset = 'utf-8'>
<title>Rankings</title>
{% extends "base.html"%}
{% block content %}
<div class = 'container-fluid table-div'>
  <div class = 'container' >
  <h1 class='login-text' style='border-bottom:2px solid rgb(78, 134, 103);'>The Top 10</h1>
  
  <table class = 'table table-bordered table-hover' id = 'table1'>
    <thead>
      <tr>
        <th>Rank</th>
        <th>User</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
    {%for n in range(len)%}
    {%if n == ur%}
      {%if n==0 %}
        <tr class='table-primary'>
          <td><span><span class='medal'>&#129351;</span></span></td>
          <td><span><img src='{{imgs[n]}}'>   {{ranks[n][0]}}</span></td>
          <td>{{ranks[n][1]}} points</td>
        </tr>
      {%elif n==1%}
        <tr class='table-primary'>
          <td><span><span class='medal'>&#129352;</span></span></td>
          <td><span><img src='{{imgs[n]}}'>   {{ranks[n][0]}}</span></td>
          <td>{{ranks[n][1]}} points</td>
        </tr>
      {%elif n==2%}
        <tr class='table-primary'>
          <td><span><span class='medal'>&#129353;</span></span></td>
          <td><span><img src='{{imgs[n]}}'>   {{ranks[n][0]}}</span></td>
          <td>{{ranks[n][1]}} points</td>
        </tr>
      {%else%}
        <tr class='table-primary'>
          <td>#{{vals[n]}}</td>
          <td><span><img src='{{imgs[n]}}'>   {{ranks[n][0]}}</span>   </td>     
          <td>{{ranks[n][1]}} points</td>
        </tr>
        {%endif%}
    {%else%}
      {%if n==0 %}
        <tr class='table-success'>
          <td><span><span class='medal'>&#129351;</span></span></td>
          <td><span><img src='{{imgs[n]}}'>   {{ranks[n][0]}}</span></td>
          <td>{{ranks[n][1]}} points</td>
        </tr>
      {%elif n==1%}
        <tr class='table-success'>
          <td><span><span class='medal'>&#129352;</span></span></td>
          <td><span><img src='{{imgs[n]}}'>   {{ranks[n][0]}}</span></td>
          <td>{{ranks[n][1]}} points</td>
        </tr>
      {%elif n==2%}
        <tr class='table-success'>
          <td><span><span class='medal'>&#129353;</span></span></td>
          <td><span><img src='{{imgs[n]}}'>   {{ranks[n][0]}}</span></td>
          <td>{{ranks[n][1]}} points</td>
        </tr>
      {%else%}
        <tr class='table-success'>
          <td>#{{vals[n]}}</td>
          <td><span><img src='{{imgs[n]}}'>   {{ranks[n][0]}}</span>   </td>     
          <td>{{ranks[n][1]}} points</td>
        </tr>
        {%endif%}
      {%endif%}
    {%endfor%}
    {%if cu != 'None' %}
      <tr class='table-primary'>
        <td>#{{ur}}</td>
        <td><span><img src='{{imgs[10]}}'>   {{cu[0]}}</span>   </td>     
        <td>{{cu[1]}} points</td>
      </tr>
    {% endif %}
  </tbody>
  </table>
</div>
</div>

</body>
{% endblock %}